<div class="dropdown">
  <button
    class="btn btn-outline-secondary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Sign In
  </button>
  <div class="dropdown-menu dropdown-menu-end">
    <form
      class="px-4 py-3"
      (submit)="onSignInClicked($event, emailInput.value)"
    >
      <div class="mb-3">
        <label for="exampleDropdownFormEmail1" class="form-label"
          >Email address</label
        >
        <input
          type="email"
          class="form-control"
          placeholder="email@example.com"
          (input)="containsAtSymbol(emailInput.value)"
          #emailInput
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary w-100"
        [disabled]="containsAt == false"
      >
        Sign in
      </button>
    </form>
  </div>
</div>
